@import '../../assets/scss_styles/global-imports';

.titleWrap {
   width: 100%;
   // @include flex-column;
   display: flex;
   justify-content: space-between;
   // border: 1px solid rgb(10, 218, 62);
   margin: 20px 0;

   @include _768 {
      flex-direction: column;
   }



   .title {
      color: $clr-white;
      font-style: italic;
      font-family: $f_Popins;
      padding: 20px 0;
      letter-spacing: 10px;
      transform: scale(1, 1.15);
      transition: 1s;
      text-shadow:
         2px 2px 5px rgba(255, 255, 255, 0.3),
         3px 3px 10px rgba(255, 255, 255, 0.3),
         5px 5px 30px rgba(255, 255, 255, 0.3);
   }

   .subTitle {
      font-style: italic;
      align-self: flex-end;
      width: 450px;
      text-align: end;
      padding-bottom: 20px;
      color: $clr-light-gray;

      @include _576 {
         font-size: 1.2rem;
         line-height: 1.4rem;
         width: 280px;
      }
   }
}