@import '../../assets/scss_styles/global-imports';

.alertMessage {
   @include absolute-center;
   padding: 15px;
   border-radius: 10px;
   font-size: 1rem;
   background: rgb(44, 44, 44);
   width: 90%;
   max-width: 440px;
   text-align: center;

   @include _768 {
      max-width: 280px;
   }
}