@import '../../../assets/scss_styles/global-imports';

.heroTitle {
   padding: 1rem;
   flex: 1;
   @include flex-column;
   justify-content: center;
   color: $clr-light-gray;
   letter-spacing: 0.2rem;
   width: 100%;
   height: 100%;
   // border-bottom: 1px solid #fff;
   margin-bottom: 40px;

   .heroTitleName {
      padding: 1rem 0;
      @include title_style;
      text-transform: uppercase;
   }

   .profession {
      margin-left: 50px;
      padding: 20px 0 5px;
      // @include title_style;
      // -webkit-text-stroke-width: 1px;
      // -webkit-text-stroke-color: #fff;
      // color: transparent;
      // font-style: italic;

      @include _450 {
         margin-left: 10px;
      }

      @include _350 {
         font-size: 1.4rem;
      }

   }

}