@import '../../assets/scss_styles/global-imports';

.about {
   @include flex-column;
   justify-content: space-around;

   .aboutContent {
      padding: .5rem 0;
      @include flex-column;
      letter-spacing: 2px;
      font-weight: 100;
      line-height: 1.7rem;

      .aboutText {
         padding: 15px 0;
         text-indent: 1.5em;

         & .paragraph {
            padding: 5px 0;
         }

         @include _576 {
            font-size: .8rem;
            line-height: 1.2rem;
         }
      }
   }
}