@import '../../../assets/scss_styles/global-imports';

.navBarList {
   @include flex-center;
   gap: 1.5rem;
   list-style: none;

   @include _768 {
      position: fixed;
      // padding-top: 2rem;
      padding: 2rem .5rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: .25rem;
      height: fit-content;
      border-radius: 10px;
      background: rgba(34, 34, 34, 0.808);
      // backdrop-filter: blur(12px)saturate(120%) contrast(200%);

   }
}