@import '../../assets/scss_styles/global-imports';

.header {
   width: 100vw;
   position: fixed;
   top: 0;
   left: 0;
   @include flex-center;
   justify-content: space-between;
   align-items: center;
   letter-spacing: 1px;
   text-transform: uppercase;
   padding: 1rem 0;
   background: hsla(0, 0%, 7%, .25);
   backdrop-filter: blur(12px);
   z-index: 101;

   .logo {
      @include flex-center;
      border: 1px solid rgb(77, 76, 76);
      height: 3rem;
      width: 3.6rem;
      border-radius: 5px;
      font-family: $f_Popins;
      letter-spacing: 4px;
      // font-style: italic;
      text-align: center;

      // text-shadow: 1px 0px 2px #000,
      //    2px 0px 2px #000,
      //    3px 0px 2px #000;
   }

}