@import '../../assets/scss_styles/global-imports';

.contacts {
   @include flex-center;

   .contactIcon {
      opacity: .6;

      &:hover {
         opacity: 1;
         background-color: rgba(255, 255, 255, 0.281);
      }
   }
}