@import '../../../assets/scss_styles/global-imports';

.skills {
   @include flex-center-vert;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 1rem;

   @include _576 {
      justify-content: center;
   }
}