@import '../../../assets/scss_styles/global-imports';

.hamburgerMenu {
   display: none;

   @include _768 {
      display: block;
   }

   // .hamburgerMenuRear {
   //    position: fixed;
   //    top: 0;
   //    left: 0;
   //    width: 100vw;
   //    height: 100vh;
   //    z-index: 100;
   //    margin: 0;
   //    background-color: transparent;
   //    display: flex;
   // }
}

.hamburgerMenuBtn {
   position: absolute;
   z-index: 101;
   top: 1.6rem;
   left: 1rem;
   width: 1rem;
   height: 1rem;
}