@import '../../../assets/scss_styles/global-imports';

.skill {
   @include flex-center-vert;
   list-style: square;
   padding: 10px 20px;
   width: 160px;
   height: 60px;
   margin: 20px 0px;
   border-radius: 10px;
   background: rgb(44, 44, 44);
   background: linear-gradient(90deg, rgb(44, 44, 44) 0%, rgba(255, 246, 234, 0) 100%);

   &:hover {
      cursor: pointer;
   }
}