$clr_white: rgb(255, 255, 255);
$clr_black: #000000;

$clr_gray: rgb(116, 116, 116);
$clr_light_gray: #c9c9c9;
$clr_red: #ff0000;
$clr_limpid_black: #000000ce;
$f_Roboto: 'Roboto', sans-serif;
$f_Lato: 'Lato', sans-serif;
$f_Barlow: 'Barlow Condensed', sans-serif;
$f_Popins: 'Poppins', sans-serif;